<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="../../favicon-hat.png" />
	<meta name="viewport" content="width=device-width" />
	
		<link href="../../_app/immutable/assets/0.2e610ae5.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/9.b532071a.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/Checkbox.3ed46ec5.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/BrokenFittedText.4d7eb4ef.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/PathLevelInfoBox.3e28bf99.css" rel="stylesheet">
		<link rel="modulepreload" href="../../_app/immutable/entry/start.a9f544b0.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/scheduler.1836b3fe.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.5d5edf02.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/paths.e6248879.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.8ca79b7f.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.7ef31ebf.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/0.2b77d1ec.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/constants.57e5e9c3.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/9.467f8813.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/each.11058b4e.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.4f3e766e.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/Checkbox.svelte_svelte_type_style_lang.0b29cc8b.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.a3ef60df.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/tree-loading.c61db980.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/BrokenFittedText.18e569ca.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/text-format-util.1eac41ca.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/PathLevelInfoBox.a6d1fa8c.js"><title>Academic Impact Explorer</title><!-- HEAD_svelte-ecnjr5_START --><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"><!-- HEAD_svelte-ecnjr5_END -->
</head>

<body data-sveltekit-preload-data="hover">
	<div style="display: contents">   <div class="main-fix svelte-18v0kyu"><div class="main-head svelte-18v0kyu"><div class="hl svelte-18v0kyu"><a href="/academic-impact-explorer/" class="svelte-18v0kyu" data-svelte-h="svelte-es428j"><img src="/academic-impact-explorer/_app/immutable/assets/logo.917514cc.png" height="40px" width="40px" alt="logo"></a> <a href="/academic-impact-explorer/" class="svelte-18v0kyu"><b>Academic Impact Explorer</b></a></div> <div class="hr svelte-18v0kyu" data-svelte-h="svelte-17etoin"><a href="/academic-impact-explorer/about" class="svelte-18v0kyu">About</a> <a href="/academic-impact-explorer/methods" class="svelte-18v0kyu">Methods</a></div></div> <div class="main-content svelte-18v0kyu"> <div class="treefix svelte-14evmle"> </div></div> <div class="main-foot svelte-18v0kyu">Academic Impact Explorer 2023</div> </div> 
			
			<script>
				{
					__sveltekit_jmz5hv = {
						assets: "/academic-impact-explorer",
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,{"type":"data","data":null,"uses":{}}];

					Promise.all([
						import("../../_app/immutable/entry/start.a9f544b0.js"),
						import("../../_app/immutable/entry/app.8ca79b7f.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 9],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>

</html>