<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="../../_app/immutable/assets/0.1882f5ab.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/9.499d5718.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/SimpleAutocomplete.390a1976.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/BrokenFittedText.a7da71b5.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/PathLevelInfoBox.6d54564d.css" rel="stylesheet">
		<link rel="modulepreload" href="../../_app/immutable/entry/start.c9842ed2.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/scheduler.a7e79a28.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.54682d49.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/paths.82637032.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.ce0468b6.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.ef959f59.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/0.60c34fd0.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/constants.30a985e8.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/9.c44407aa.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/each.fd848201.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.854a7a0a.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/SimpleAutocomplete.20fefd57.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.31d7d9a7.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/tree-loading.aad54248.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/BrokenFittedText.91bc49b3.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/text-format-util.619db8fe.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/PathLevelInfoBox.d6bcd07d.js"><title>Academic Impact Explorer</title><!-- HEAD_svelte-132uuyy_START --><!-- HEAD_svelte-132uuyy_END -->
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">    <div class="treefix svelte-i4ytz6"><div class="treecontent svelte-i4ytz6"></div> <div class="treefoot svelte-i4ytz6" style="--foot-height: 50px"><a href="/academic-impact-explorer/"><b>Academic Impact Explorer</b></a></div> </div> 
			
			<script>
				{
					__sveltekit_goyuye = {
						assets: "/academic-impact-explorer",
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,{"type":"data","data":null,"uses":{}}];

					Promise.all([
						import("../../_app/immutable/entry/start.c9842ed2.js"),
						import("../../_app/immutable/entry/app.ce0468b6.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 9],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
