<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link href="../../_app/immutable/assets/0.1882f5ab.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/8.08d94b8c.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/SimpleAutocomplete.390a1976.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/BrokenFittedText.a7da71b5.css" rel="stylesheet">
		<link rel="modulepreload" href="../../_app/immutable/entry/start.0825a01b.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/scheduler.818ef87d.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.963b4d2d.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/paths.25f26a1c.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.5ae46577.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.f7ab21c9.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/0.bcc34b99.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/constants.64b06403.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/8.3074bcc1.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/each.d7da38fb.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.2e46b051.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/SimpleAutocomplete.b74901b6.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/BrokenFittedText.7f5654a1.js"><title>Academic Impact Explorer</title><!-- HEAD_svelte-132uuyy_START --><!-- HEAD_svelte-132uuyy_END -->
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">    <div class="treefix svelte-1r1z8yl"><div class="treehead svelte-1r1z8yl"><div class="filt-side svelte-1r1z8yl" style="--sb-size: 17">FILTER</div> <div class="main-side svelte-1r1z8yl" style="--tree-size: 83"><div class="autocomplete select is-fullwidth sautocomplete-773 svelte-75ckfb hide-arrow"><select  class="svelte-75ckfb"></select> <div class="input-container svelte-75ckfb"> <input type="text" class=" input autocomplete-input svelte-75ckfb" id="" autocomplete="off" tabindex="0"> </div> <div class=" autocomplete-list hidden is-fullwidth svelte-75ckfb"><div class="autocomplete-list-item-no-results svelte-75ckfb">No results found</div></div></div> </div></div> <div class="treecontent svelte-1r1z8yl"><svg viewBox="0 0 100 NaN" xmlns="http://www.w3.org/2000/svg" class="svelte-1r1z8yl"></svg></div> <div class="treefoot svelte-1r1z8yl"><p style="text-align: center;"><b>Academic Impact Explorer</b></p></div> </div> 
			
			<script>
				{
					__sveltekit_8mvmcy = {
						assets: "/academic-impact-explorer",
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,{"type":"data","data":null,"uses":{}}];

					Promise.all([
						import("../../_app/immutable/entry/start.0825a01b.js"),
						import("../../_app/immutable/entry/app.5ae46577.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 8],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
